<div class="text-4xl">Shop worry-free with PayAfter!</div>
<div class="text-4xl">Transaction is easy and hassle-free!</div>
<div
  class="
    lg:flex lg:items-center lg:justify-center
    md:flex md:items-center md:justify-between
    my-12
  "
>
  <div
    class="
      card
      h-52
      p-8
      w-52
      bg-gray-200
      rounded-lg
      flex
      items-center
      justify-center
      lg:mr-12
      flex-col
      lg:mx-0
      mx-auto
      lg:mb-0
      mb-12
      md:hidden
    "
  >
    <img src="assets/images/Easy-Access-icon.png" alt="" />
  </div>
  <div
    class="
      card
      p-8
      h-52
      w-52
      bg-gray-200
      rounded-lg
      flex
      items-center
      justify-center
      lg:mr-12
      flex-col
      lg:mx-0
      mx-auto
      lg:mb-0
      mb-12
      md:hidden
    "
  >
    <img src="assets/images/Get-Notified-icon.png" alt="" />
  </div>
  <div
    class="
      card
      h-52
      p-8
      w-52
      bg-gray-200
      rounded-lg
      flex
      items-center
      justify-center
      lg:mr-12
      flex-col
      lg:mx-0
      mx-auto
      lg:mb-0
      mb-12
      md:hidden
    "
  >
    <img src="assets/images/Convenient-icon.png" alt="" />
  </div>
  <div
    class="
      card
      h-52
      p-8
      w-52
      bg-gray-200
      rounded-lg
      flex
      items-center
      justify-center
      flex-col
      lg:mx-0
      mx-auto
      lg:mb-0
      mb-12
      md:hidden
    "
  >
    <img src="assets/images/Safe-Icon.png" alt="" />
  </div>

  <div class="hidden md:block w-2/4 mr-10">
    <div
      class="
        card
        h-52
        p-8
        w-52
        bg-gray-200
        rounded-lg
        flex
        items-center
        justify-center
        lg:mr-12
        flex-col
        ml-auto
        mb-12
      "
    >
      <img src="assets/images/Easy-Access-icon.png" alt="" />
    </div>
    <div
      class="
        card
        p-8
        h-52
        w-52
        bg-gray-200
        rounded-lg
        flex
        items-center
        justify-center
        lg:mr-12
        flex-col
        ml-auto
        mb-12
      "
    >
      <img src="assets/images/Get-Notified-icon.png" alt="" />
    </div>
  </div>
  <div class="hidden md:block w-2/4">
    <div
      class="
        card
        h-52
        p-8
        w-52
        bg-gray-200
        rounded-lg
        flex
        items-center
        justify-center
        lg:mr-12
        flex-col
        mr-auto
        mb-12
      "
    >
      <img src="assets/images/Convenient-icon.png" alt="" />
    </div>
    <div
      class="
        card
        h-52
        p-8
        w-52
        bg-gray-200
        rounded-lg
        flex
        items-center
        justify-center
        flex-col
        mr-auto
        mb-12
      "
    >
      <img src="assets/images/Safe-Icon.png" alt="" />
    </div>
  </div>
</div>
