<div class="p-12 bg-gray-200">
  <div class="container mx-auto px-12">
    <div
      class="
        lg:flex lg:items-start lg:justify-between
        custom-text-color
        lg:text-left
        text-center
      "
    >
      <div>
        <img
          src="assets/images/Logo1.svg"
          alt="logo"
          class="lg:h-28 lg:w-28 lg:mx-0 mx-auto mb-4"
        />
        <div class="lg:w-80 mt-2 lg:pl-6 font-mont text-xs">
          SEC Registration No. CS201820732
        </div>
        <div class="lg:w-80 lg:pl-6 font-mont text-xs">
          Certificate of Authority No. 1228
        </div>
        <div class="lg:w-80 mt-4 lg:pl-6 font-mont text-xs">
          &copy; 2021 PayAfter by Cebuana Lhuillier Finance Corp. an SEC
          Licensed Financing Company.
        </div>
      </div>
      <div>
        <div class="text-2xl custom-text-color">Products</div>
        <div class="mt-6">
          <ul class="font-mont">
            <li class="cursor-pointer hover:underline mb-2">Marchants</li>
            <li class="cursor-pointer hover:underline">FAQs</li>
          </ul>
        </div>
      </div>
      <br />
      <div>
        <div class="text-2xl custom-text-color">Legal</div>
        <div class="mt-6">
          <ul class="font-mont">
            <li class="cursor-pointer hover:underline mb-2">Terms of Use</li>
            <li class="cursor-pointer hover:underline">Privacy Policies</li>
          </ul>
        </div>
      </div>
      <br />
      <div>
        <div class="text-2xl custom-text-color">Support</div>
        <div class="mt-6">
          <ul class="font-mont">
            <li class="cursor-pointer mb-2 text-base">ask@payafter.ph</li>
            <li class="cursor-pointer text-base hover:underline">Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="custom-bg-color h-8 w-full"></div>
