<main id="main">
  <section
    class="
      px-4
      custom-bg
      w-full
      h-screen
      flex
      items-center
      justify-center
      relative
      z-0
    "
  >
    <div
      class="lg:flex lg:items-center lg:justify-center text-center lg:text-left"
    >
      <img
        src="assets/images/Logo1.svg"
        alt="logo"
        class="lg:h-full lg:w-full mx-auto mb-12"
      />
      <div class="w-16"></div>
      <div class="ml-8">
        <div class="custom-text-color lg:text-6xl text-4xl font-title">
          Buy Now.
        </div>
        <div class="text-red-500 lg:text-6xl text-4xl">Pay Later.</div>
        <br />

        <div class="text-color-me font-mont">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis,
          magni expedita quam perferendis.
        </div>
        <br />
        <div class="flex lg:justify-end justify-center">
          <button
            class="
              px-4
              py-1
              ml-2
              bg-red-500
              text-white
              rounded-full
              hover:opacity-75
            "
          >
            Join Now
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="p-16 custom-bg-color text-white text-center">
    <app-carousel></app-carousel>
  </section>
  <section class="p-16 custom-bg-color text-white text-center">
    <app-works-section></app-works-section>
  </section>
  <section class="custom-bg-color text-white text-center">
    <app-fourth-section></app-fourth-section>
  </section>
  <section class="p-16 custom-text-color text-center">
    <app-card-section></app-card-section>
  </section>
</main>
