#main {
  .custom-bg {
    background-image: url("/assets/images/small-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    @media screen and (max-width: 768px) {
      background-image: url("/assets/images/mobile-home.png");
    }
  }
  .h-120 {
    width: 120px;
    height: 120px;
  }

  .text-color-me {
    width: 380px;
  }
}
