<div class="container mx-auto">
  <div class="text-4xl mb-12 custom-text-color">What they say about us</div>
  <br />
  <ngx-glide
    [startAt]="0"
    [perView]="3"
    type="carousel"
    [showArrows]="false"
    [showBullets]="false"
    [breakpoints]="{
      '640': { perView: 1 },
      '768': { perView: 2 },
      '1080': { perView: 3 }
    }"
  >
    <div *ngFor="let item of slides">
      <div class="custom-bg-color p-8 custom-bg" [style]="item.bg">
        <img
          src="assets/images/quote-icon.svg"
          alt="logo"
          class="lg:h-12 lg:w-12 mr-auto"
        />
        <p class="whitespace-pre-line">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat hic
          quas magnam sint .
        </p>
        <img [src]="item.src" alt="" class="card-img" />
        <p class="whitespace-pre-line text-2xl">Henlo World</p>
        <p class="whitespace-pre-line">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </ngx-glide>
</div>
