<div class="wrapper lg:flex lg:items-center lg:justify-center">
  <div class="lg:w-2/4">
    <img
      src="assets/images/How-it-works-section.svg"
      alt="logo"
      class="lg:h-8/12 lg:w-8/12 lg:ml-auto mb-12 mx-auto"
    />
  </div>
  <div class="lg:ml-20 lg:w-2/4">
    <div class="text-6xl lg:text-left text-center mb-6">How it works</div>
    <div class="lg:flex my-12">
      <span
        class="
          border-white border-2
          rounded-full
          h-12
          w-12
          flex
          items-center
          justify-center
          text-xl
          lg:mx-0
          mx-auto
        "
        >1</span
      >
      <div class="lg:text-left lg:ml-12 text-center mt-8">
        <div class="text-4xl">Sign Up</div>
        <div class="mt-2 text-l font-mont lg:w-80">
          Provide the required details and submit your application online.
        </div>
      </div>
    </div>
    <div class="lg:flex my-12">
      <span
        class="
          border-white border-2
          rounded-full
          h-12
          w-12
          flex
          items-center
          justify-center
          text-xl
          lg:mx-0
          mx-auto
        "
        >2</span
      >
      <div class="lg:text-left lg:ml-12 text-center mt-8">
        <div class="text-4xl">Get Approved</div>
        <div class="mt-2 text-l font-mont lg:w-80">
          We review your application and notify you via email and SMS with an
          approval and account details.
        </div>
      </div>
    </div>
    <div class="lg:flex my-12">
      <span
        class="
          border-white border-2
          rounded-full
          h-12
          w-12
          flex
          items-center
          justify-center
          text-xl
          lg:mx-0
          mx-auto
        "
        >3</span
      >
      <div class="lg:text-left lg:ml-12 text-center mt-8">
        <div class="text-4xl">Go Shopping</div>
        <div class="mt-2 text-l font-mont lg:w-80">
          Choose PayAfter at the checkout, or buy vouchers on our website. Your
          purchase will be paid via an installment plan that works for you.
        </div>
      </div>
    </div>
  </div>
</div>
