nav {
  .container {
    @media only screen and (min-width: 1025px) and (max-width: 1280px) {
      max-width: 1280px;
    }

    @media (min-width: 1536px) {
      max-width: 1536px;
    }
  }
  .text-color-me {
    color: rgb(0, 38, 62);
  }
  @media only screen and (min-width: 1024px) and (max-width: 1038px) {
    ul li a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .nav-item {
    .active {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(4, 80, 114, 0.5);
        height: 2px;
      }
      opacity: 0.75;
      position: relative;
      font-weight: bold;
    }
  }

  .h-120 {
    width: 120px;
    height: 120px;
    @media only screen and (min-width: 1024px) {
      width: 100px;
      height: 100px;
    }
  }
}
#menu {
  overflow: hidden;
  position: absolute;
  // top: 18%;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  .nav-item {
    .active {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(4, 80, 114, 0.5);
        height: 2px;
      }
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
    }
  }
  .h-120 {
    width: 120px;
    height: 120px;
  }
}
.containers {
  width: 100%;
  @media (max-width: 1024px) {
    max-width: 1024px;
  }
  @media (max-width: 768px) {
    max-width: 768px;
  }
  @media (max-width: 640px) {
    max-width: 640px;
  }
}
